*{
	box-sizing: border-box;
}




.title{
	
	font-size: 1.5em

}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.box{
	background-color: yellow;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	width :500px;
	
}
#header-nav {
	background-color: pink; /*yellow color*/
	border-radius:0;
	border:0;
}

.navbar-brand {
	padding-top: 25px;
	
}

.navbar-brand h1{
	font-size: 1.5em;
	line-height: 0.75;
	margin-bottom: 0;
	
}

.navbar-brand a:hover , .navbar-brand a:focus {
	text-decoration-style: none;
}

